@import "../../styles/common.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.logo {
  height: 48px;
  width: 48px;
  padding: 8px;
  border-radius: 50%;
  background-color: $purple-500;
}

.af-group-link {
  margin-bottom: 50px;
  width: 100%;
  svg path {
    stroke: $gray-300;
  }
  h4 {
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: $gray-300;
    @extend .nunito-font;
  }
}