@import "../../styles/common.scss";
@import "../../styles/colors.scss";
@import "../../styles/fonts.scss";

.af-navbar{
  border-right: solid 1.5px $gray-200;
}
.navbar__icon {
  position: relative;
  height: 60px;
  width: 60px;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 20px;
  transition: all 0.3s ease;
  &::after {
    content: "";
    height: 0;
    width: 5px;
    border-radius: 99px;
    background-color: $purple-500;
    position: absolute;
    top: 15px;
    left: -16px;
    transition: all 0.3s ease-in-out;
  }
  svg {
    height: 55%;
    width: 40px;
    path {
      transition: all 0.3s ease;
      stroke-width: 1.5px;
    }
  }
  &.active {
    position: relative;
    background-color: $purple-500;
    svg path {
      stroke: white;
      stroke-width: 2px;
    }
    &::after {
      height: 50%;
    }
  }
  &:hover {
    &:not(.active) {
      background-color: $purple-50;
      svg path {
        stroke: $purple-300;
        stroke-width: 2px;
      }
    }
  }
}
